* {
  margin: 0;
  padding: 0;
}

h5:hover {
  /* background-color: green; */
  color: rgb(165, 32, 32);
}

.main {
  width: 100%;
  height: 650px;
  display: flex;
}

.detail1 {
  padding-left: 50px;
}

.left {
  text-transform: capitalize;
  width: 50%;
  height: 650px;
  padding-top: 30px;
  padding-left: 95px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.simg {
  width: 150px;
  height: 250px;
  /* padding-top: 90px; */
  padding-right: 300px;
  padding-left: 10px;
}

.sign {
  margin-top: 20px;
  color: white;
  background-color: rgb(4, 4, 80);
  border: none;
  width: 100px;
  height: 40px;
  /* margin-top: 100px; */
}

.sign1 {
  cursor: pointer;
  padding-bottom: 20px;
}
.deth1{
  padding-bottom: -2px;
  line-height: 2;
}
.nav1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.left h2 {
  color: gray;
}

.left h1 {
  font-size: 40px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  padding-top: -10px;
}

#locate {
  border: 1px solid;
  padding: 11px;
  width: 170px;
  border: none;
  background: white;
  /* border-bottom-right-radius: 25px;
  border-top-right-radius: 25px; */
}

.box {
  display: flex;
  margin-top: 30px;
}


button {
  cursor: pointer;
  /* margin-top: 20px;
  color: white; */
  background-color: white;
  border: 1px solid orange;
  /* width: 170px;
  height: 40px; */
}

/* .btn1{
  width: 110px;
  height: 50px;
  background: none;
  background: transparent;
  padding-left: 10px;
  font-size: 20px;
  margin-right: -10px;
} */
.right {
  width: 50%;
  height: 650px;
  background: url(img.png);
  background-size: cover;
  background-position: center;
}

.p {
  line-height: 2;
  color: rgb(154, 146, 146);
}

.box i {
  color: gray;
  font-size: 10px;
}

input {
  width: 370px;
  height: 60px;
  font-size: 20px;
  border: none;
  border-color: rgb(23, 23, 22);
}

.btn2 {
  width: 100px;
  background-color: orange;
  border: none;
  font-size: 18px;
  color: white;
}

img {
  margin-top: 10px;
}

/*-----------------------------------*/
.nav2 {
  width: 100%;
  height: 500px;
  background-color: black;

}

.simg1 {
  width: 150px;
  height: 200px;
  padding-right: 300px;
  padding-left: 200px;
}

.simg2 {
  width: 150px;
  height: 200px;
  padding-right: 90px;
  padding-left: 2px;
}

.simg3 {
  width: 150px;
  height: 200px;
  padding-right: 150px;
  padding-left: 200px;
}

.maindetail {
  display: flex;
  gap: 250px;
  justify-content: center;
  align-content: center;
  /* line-height: ; */
}

.dtl1 {
  color: white;
  padding-right: 0px;

}

.dtl2 {

  margin-right: -20px;
}

.maindetail h5 {
  font-size: 20px;
  color: white;
  line-height: 2;
}

.maindetail h3 {
  font-size: 14px;
  color: white;
}

/*---------------------------------*/
.nav3 {
  width: 100%;
  height: 600px;
  display: flex;
}

.nav3left {
  width: 50%;
  height: 600px;
}

.nav3right {
  width: 25%;
  height: 600px;
}

.nav3side {
  width: 25%;
  height: 600px;
}

img {
  width: 90%;
  height: 500px;
}

.nav3im2 {
  padding: 0;
  padding-top: 90px;
}

.nav3im1 {
  margin: 0;
}

.leftdetail {
  line-height: 1.8;
  /* padding-top: 100px;
  padding-left: 80px; */
  padding: 150px;
}

.leftdetail h1 {
  line-height: 1;
  font-size: 40px;
}

.leftdetail h2 {
  color: rgb(196, 193, 193);
  font-size: 20px;
}

.leftdetail button {
  width: 40%;
  height: 80px;
}

.leftdetail img {
  cursor: pointer;
  width: 40%;
  height: 50px;
  line-height: 4;
}

.iconimg {
  display: flex;
  gap: 40px;
  margin-top: 30px;

}

/*---------------------------*/
.nav4 {
  width: 100%;
  height: 400px;
  display: flex;
  background-color: black;
}

.nav4left {
  /* background-color: aqua; */
  width: 80%;
  height: 600px;
}

.nav4right {
  /* background-color: beige; */
  width: 20%;
  height: 600px;
}

.nav4img {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 10px;
  width: 60%;
  height: 60px;
  display: flex;
  flex-direction: column;
  line-height: 20;
}

.iconimg2 {
  padding-top: 70px;
}

.nav4left {
  margin-left: 60px;
  line-height: 1.9;
  display: flex;
  gap: 110px;
  color: white;
}

.nav4left h3 {
  font-size: 25px;
  color: rgb(125, 121, 121);
}

.nav4left li {
  list-style: none;
}
/*---------------------------------------*/
.nav5{
  border-top: 1px solid gray;
  width: 100%;
  height: 100px;
  
  
  /* margin-left: 90px; */
  padding-top: 40px;
  /* padding-left: 100px; */
  background-color: black;
}
.nav5det{
  color: white;
  margin-left: 90px;
  line-height: 2;
  font-size: 22px;
}

.nav5det1{
  color: white;
  /* padding-bottom: 10px; */
padding-left: 1000px;
font-size: 22px;
}



/*----------------------------------------*/
footer{
  border-top: 1px solid grey;
  width: 100%;
  height: 100px;
  display: flex;
  color: white;
  font-size: 40px;
  background-color: black;
}
.footerimg{
  width: 70px;
  height: 50px;
  margin-left: 90px;
}
footer h6{
  font-size: 20px;
  padding-top: 30px;
  padding-left: 300px;
}
.ficon{
  font-size: 20px;
  padding-top: 30px;
padding-left: 700px;
}